Repository cs-pub-ro/operating-systems, changes with the labels that .github/labeler.yml gives for each.
All labels: topic/software-stack, topic/data, topic/compute, topic/io, topic/app-interact, topic/general, area/reading, area/media, area/slides, area/guides, area/tasks, area/questions, area/projects, area/quiz, area/content, area/code, area/infra, area/assignment

.github/labeler.yml:

topic/software-stack:
  - 'chapters/software-stack/**/*'

topic/data:
  - 'chapters/data/**/*'

topic/compute:
  - 'chapters/compute/**/*'

topic/io:
  - 'chapters/io/**/*'

topic/app-interact:
  - 'content/chapters/app-interact/**/*'

topic/general:
  - 'chapters/general/**/*'

area/reading:
  - '**/reading/*'
  - '**/reading/**/*'

area/media:
  - '**/media/*'
  - '**/media/**/*'

area/slides:
  - '**/slides/*'
  - '**/slides/**/*'

area/guides:
  - '**/guides/*'
  - '**/guides/**/*'

area/tasks:
  - '**/tasks/*'
  - '**/tasks/**/*'

area/questions:
  - '**/questions/*'
  - '**/questions/**/*'

area/projects:
  - '**/projects/*'
  - '**/projects/**/*'

area/quiz:
  - '**/quiz/*'

area/content:
  - '**/lab/content/*.md'
  - '**/media/**/*'
  - '**/lecture/slides/**/*'
  - '**/*.mdpp'

area/code:
  - '**/lab/support/**/*'
  - '**/lab/solution/**/*'
  - '**/lecture/demo/**/*'

area/infra:
  - 'util/**/*'
  - 'common/*'
  - 'common/**/*'
  - 'scripts/*'
  - 'scripts/**/*'
  - '.github/*'
  - '.github/**/*'
  - 'Dockerfile'
  - 'Makefile'
  - 'config.yaml'

area/assignment:
  - 'content/assignments/**/*'

chapters/compute: Fix path for `make skels`
  chapters/io/file-descriptors/drills/tasks/my-cat/Makefile
Labels: topic/io, area/tasks

chapters/io: Add checker infrastructure for lab 9
  chapters/io/file-descriptors/drills/tasks/mmap_cp/Makefile
  chapters/io/file-descriptors/drills/tasks/mmap_cp/README.md
  chapters/io/file-descriptors/drills/tasks/mmap_cp/solution/src/.gitignore
  chapters/io/file-descriptors/drills/tasks/mmap_cp/solution/src/Makefile
  chapters/io/file-descriptors/drills/tasks/mmap_cp/solution/src/benchmark_cp.sh
  chapters/io/file-descriptors/drills/tasks/mmap_cp/solution/src/mmap_cp.c
  chapters/io/file-descriptors/drills/tasks/mmap_cp/solution/src/utils/log/CPPLINT.cfg
  chapters/io/file-descriptors/drills/tasks/mmap_cp/solution/src/utils/log/log.c
  chapters/io/file-descriptors/drills/tasks/mmap_cp/solution/src/utils/log/log.h
  chapters/io/file-descriptors/drills/tasks/mmap_cp/solution/src/utils/utils.h
  chapters/io/file-descriptors/drills/tasks/mmap_cp/solution/tests/checker.sh
  chapters/io/file-descriptors/drills/tasks/my-cat/Makefile
  chapters/io/file-descriptors/drills/tasks/my-cat/README.md
  chapters/io/file-descriptors/drills/tasks/my-cat/solution/src/.gitignore
  chapters/io/file-descriptors/drills/tasks/my-cat/solution/src/Makefile
  chapters/io/file-descriptors/drills/tasks/my-cat/solution/src/my_cat.c
  chapters/io/file-descriptors/drills/tasks/my-cat/solution/src/utils/log/CPPLINT.cfg
  chapters/io/file-descriptors/drills/tasks/my-cat/solution/src/utils/log/log.c
  chapters/io/file-descriptors/drills/tasks/my-cat/solution/src/utils/log/log.h
  chapters/io/file-descriptors/drills/tasks/my-cat/solution/src/utils/utils.h
  chapters/io/file-descriptors/drills/tasks/my-cat/solution/tests/checker.sh
  chapters/io/ipc/drills/tasks/anon-pipes/Makefile
  chapters/io/ipc/drills/tasks/anon-pipes/README.md
  chapters/io/ipc/drills/tasks/anon-pipes/solution/src/.gitignore
  chapters/io/ipc/drills/tasks/anon-pipes/solution/src/Makefile
  chapters/io/ipc/drills/tasks/anon-pipes/solution/src/anonymous_pipe.c
  chapters/io/ipc/drills/tasks/anon-pipes/solution/src/utils/log/CPPLINT.cfg
  chapters/io/ipc/drills/tasks/anon-pipes/solution/src/utils/log/log.c
  chapters/io/ipc/drills/tasks/anon-pipes/solution/src/utils/log/log.h
  chapters/io/ipc/drills/tasks/anon-pipes/solution/src/utils/utils.h
  chapters/io/ipc/drills/tasks/anon-pipes/solution/tests/checker.sh
Labels: topic/io, area/tasks

chapters/io: Fix `rread()` and `wwrite()` logic
  chapters/io/file-descriptors/drills/tasks/my-cat/solution/src/my_cat.c
Labels: topic/io, area/tasks

chapters/io: Fix typo in `mmap_cp` task
  chapters/io/file-descriptors/drills/tasks/mmap_cp/solution/src/mmap_cp.c
Labels: topic/io, area/tasks

config: Rearrange tasks in labs 7 and 8
  config.yaml
Labels: area/infra

infra/gen-view: Use non-greedy regexes
  gen-view.py
Labels: none

infra/gen-view: Solve links in all file types
  gen-view.py
Labels: none

infra/gen-view: Show possibly broken links
  gen-view.py
Labels: none

chapters/compute: Clarify `apache2-simulator` task
  chapters/compute/processes-threads-apache2/drills/tasks/apache2/README.md
Labels: topic/compute, area/tasks

infra/gen-view: Fix questions links to media
  gen-view.py
Labels: none

infra/gen-view: Solve links to tasks and guides
  gen-view.py
Labels: none
