Repository cs-pub-ro/operating-systems, pull requests merged in 2023-12, with the labels that each got.

#35 compute/lab: Fix incorrect function name
  content/chapters/compute/lab/content/synchronization.md
Labels: area/content, topic/compute

#32 content/assignments: Add "Lambda Function Loader" hackathon
  content/assignments/lambda-function-loader/README.md
  content/assignments/lambda-function-loader/src/Makefile
  content/assignments/lambda-function-loader/src/ipc.c
  content/assignments/lambda-function-loader/src/ipc.h
  content/assignments/lambda-function-loader/src/server.c
  content/assignments/lambda-function-loader/src/server.h
  content/misc/rules-and-grading.md
Labels: kind/new, needs-rendering, area/assignment, topic/compute, topic/io

#36 Update command to show expected output
  content/chapters/compute/lab/content/arena.md
  content/chapters/compute/lab/content/synchronization.md
Labels: area/content, topic/compute

#40 io/lab: Fix "messge" typo in redirect.c
  content/chapters/io/lab/solution/redirect/redirect.c
  content/chapters/io/lab/support/redirect/redirect.c
Labels: area/code, kind/fix, topic/io

#41 io/lab: Fix lsof table header alignment in Redirections
  content/chapters/io/lab/content/redirections.md
Labels: student-contrib, area/content, kind/fix, topic/io

#42 io/lab: Fix strtok_r usage in Mini-shell
  content/chapters/io/lab/solution/mini-shell/mini_shell.c
  content/chapters/io/lab/support/mini-shell/mini_shell.c
Labels: area/code, student-contrib, kind/fix, topic/io

#44 rules,config: Publish hackathon assignment
  config.yaml
  content/misc/rules-and-grading.md
Labels: kind/new, needs-rendering, kind/improve, area/assignment, topic/io

#38 content/assignments: Add "Lambda Function Loader" checker
  content/assignments/lambda-function-loader/README.md
  content/assignments/lambda-function-loader/src/ipc.h
  content/assignments/lambda-function-loader/tests/Makefile
  content/assignments/lambda-function-loader/tests/advanced.c
  content/assignments/lambda-function-loader/tests/basic.c
  content/assignments/lambda-function-loader/tests/checker.sh
  content/assignments/lambda-function-loader/tests/client.c
  content/assignments/lambda-function-loader/tests/ref/test3
  content/assignments/lambda-function-loader/tests/ref/test4
  content/assignments/lambda-function-loader/tests/ref/test7
  content/assignments/lambda-function-loader/tests/ref/test8
  content/assignments/lambda-function-loader/tests/special.c
Labels: kind/new, kind/improve, area/assignment

#43 io/lab: Clarify feedback for "write_file.txt Permissions" quiz
  content/chapters/io/lab/quiz/write-file-permissions.md
Labels: kind/improve, student-contrib, topic/io, area/quiz

#45 content/assignments: Update "Lambda Function Loader" ref files
  content/assignments/lambda-function-loader/tests/ref/ref10
  content/assignments/lambda-function-loader/tests/ref/ref11
Labels: kind/new, area/assignment

#48 CONTRIBUTING: Update commit details to the new structure
  CONTRIBUTING.md
Labels: documentation, kind/improve, area/infra
