Repository cs-pub-ro/operating-systems, pull requests merged in 2023-11, with the labels that each got.

#17 Update investigate-memory.md
  content/chapters/data/lab/content/investigate-memory.md
Labels: needs-rendering, student-contrib, topic/data, area/content, kind/fix

#21 misc: Add resources from OCW
  config.yaml
  content/misc/resources.md
Labels: kind/new, needs-rendering, kind/improve, area/content

#27 Fix access_counter.c typos
  content/chapters/data/lab/support/access-counter/src/access_counter.c
Labels: student-contrib

#31 contributing: Add detailed description on how to make commits
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: documentation, kind/improve

#33 infra: Add Makefile to build the website
  Makefile
Labels: kind/new, area/infra
