Repository cs-pub-ro/operating-systems, pull requests merged in 2023-10, with the labels that each got.

#2 misc: Add grading rules from ocw
  config.yaml
  content/misc/rules-and-grading.md
Labels: kind/new, needs-rendering, kind/improve

#9 software-stack/lab: Remove backticks
  content/chapters/software-stack/lab/content/syscall-wrapper.md
Labels: student-contrib

#7 `asg/mini-libc`: Update `README.md`
  content/assignments/mini-libc/README.md
Labels: enhancement, area/assignment

#3 `common`: Add script to compute final project grade
  content/assignments/async-web-server/tests/grade.sh
  content/assignments/memory-allocator/tests/grade.sh
  content/assignments/mini-libc/tests/grade.sh
  content/assignments/minishell/checker/grade.sh
  content/assignments/parallel-graph/tests/grade.sh
  content/common/projects/grade.sh
Labels: enhancement, kind/new

#10 util: add instructions for running the VM on macOS
  util/macos-vm/README.md
  util/macos-vm/qemu_run.sh
Labels: kind/new, area/infra

#13 lab/software-stack: Add missing -fno-builtin flag in Makefile
  content/chapters/software-stack/lab/support/common-functions/Makefile
Labels: topic/software-stack, area/code

#14 Update working-memory.md from the data lab.
  content/chapters/data/lab/content/working-memory.md
Labels: topic/data, area/content

#16 `data/lab`: Use `LD_PRELOAD` for `mtrace`
  content/chapters/data/lab/content/investigate-memory.md
Labels: documentation, kind/improve, topic/data, area/content

#18 content/data: Remove TODO exercises
  content/chapters/data/lab/content/arena.md
Labels: needs-rendering, topic/data, area/content

#19 actions/pr-deployment: Fix deployment URL
  .github/workflows/pr-deployment.yml
Labels: needs-rendering, area/infra, kind/fix

#20 Update memory-regions-vars.md
  content/chapters/data/lab/quiz/memory-regions-vars.md
Labels: topic/data, area/quiz

#22 Added arm directory to exercise 3
  content/chapters/software-stack/lab/support/basic-syscall/arm/Makefile
  content/chapters/software-stack/lab/support/basic-syscall/arm/hello.s
Labels: kind/new, topic/software-stack, area/code, student-contrib
