Repository cs-pub-ro/operating-systems, pull requests merged in 2024-11, with the labels that each got.

#126 chapters/compute: Fix links to images
  chapters/compute/copy-on-write/slides/copy-on-write.md
  chapters/compute/overview/slides/intro.md
  chapters/compute/processes/slides/fork.md
  chapters/compute/processes/slides/processes.md
  chapters/compute/scheduling/slides/scheduling-algorithms.md
  chapters/compute/scheduling/slides/scheduling.md
  chapters/compute/synchronization/slides/mutual-exclusion.md
  chapters/compute/synchronization/slides/synchronization.md
  chapters/compute/synchronization/slides/thread-safety.md
Labels: needs-rendering

#128 chapters/compute: Fix remaining broken links
  chapters/compute/synchronization/slides/notifications.md
  chapters/compute/threads/slides/threads.md
Labels: needs-rendering

#122 chapters/compute: Labs review
  chapters/compute/copy-on-write/drills/tasks/page-faults/README.md
  chapters/compute/copy-on-write/drills/tasks/shared-memory/README.md
  chapters/compute/copy-on-write/guides/fork-faults/README.md
  chapters/compute/hardware-perspective/reading/hardware-perspective.md
  chapters/compute/processes-threads-apache2/drills/tasks/apache2/README.md
  chapters/compute/processes/drills/tasks/create-process/README.md
  chapters/compute/processes/drills/tasks/mini-shell/README.md
  chapters/compute/processes/drills/tasks/sleepy/README.md
  chapters/compute/processes/drills/tasks/wait-for-me-processes/README.md
  chapters/compute/processes/guides/create-process/README.md
  chapters/compute/processes/guides/sum-array-processes/README.md
  chapters/compute/scheduling/drills/tasks/libult/README.md
  chapters/compute/scheduling/guides/libult/README.md
  chapters/compute/synchronization/drills/tasks/race-condition/README.md
  chapters/compute/synchronization/drills/tasks/threadsafe-data-struct/README.md
  chapters/compute/synchronization/reading/synchronization.md
  chapters/compute/threads/drills/tasks/multithreaded/README.md
  chapters/compute/threads/drills/tasks/sum-array-bugs/README.md
  chapters/compute/threads/drills/tasks/sum-array/README.md
  chapters/compute/threads/guides/clone/README.md
  chapters/compute/threads/guides/sum-array-threads/README.md
  chapters/compute/threads/guides/wait-for-me-threads/README.md
  chapters/compute/threads/reading/threads.md
  chapters/compute/user-level-threads/guides/user-level-threads/README.md
  chapters/compute/user-level-threads/reading/user-level-threads.md
  config.yaml
Labels: area/infra, topic/compute, area/tasks, area/reading, area/guides

#136 chapters/compute: Move `mini-shell` task from lab 6 to 7
  config.yaml
Labels: needs-rendering

#129 Add lab 7 checkers
  chapters/compute/copy-on-write/drills/tasks/shared-memory/.gitignore
  chapters/compute/copy-on-write/drills/tasks/shared-memory/Makefile
  chapters/compute/copy-on-write/drills/tasks/shared-memory/README.md
  chapters/compute/copy-on-write/drills/tasks/shared-memory/generate_skels.py
  chapters/compute/copy-on-write/drills/tasks/shared-memory/solution/src/Makefile
  chapters/compute/copy-on-write/drills/tasks/shared-memory/solution/src/shared_memory.c
  chapters/compute/copy-on-write/drills/tasks/shared-memory/solution/src/utils/log/CPPLINT.cfg
  chapters/compute/copy-on-write/drills/tasks/shared-memory/solution/src/utils/log/log.c
  chapters/compute/copy-on-write/drills/tasks/shared-memory/solution/src/utils/log/log.h
  chapters/compute/copy-on-write/drills/tasks/shared-memory/solution/src/utils/sock/sock_util.c
  chapters/compute/copy-on-write/drills/tasks/shared-memory/solution/src/utils/sock/sock_util.h
  chapters/compute/copy-on-write/drills/tasks/shared-memory/solution/src/utils/utils.h
  chapters/compute/copy-on-write/drills/tasks/shared-memory/solution/tests/checker.sh
  chapters/compute/copy-on-write/drills/tasks/shared-memory/support/.gitignore
  chapters/compute/copy-on-write/drills/tasks/shared-memory/support/Makefile
  chapters/compute/copy-on-write/drills/tasks/shared-memory/support/shared_memory.c
  chapters/compute/copy-on-write/drills/tasks/shared-memory/support/utils/log/CPPLINT.cfg
  chapters/compute/copy-on-write/drills/tasks/shared-memory/support/utils/log/log.c
  chapters/compute/copy-on-write/drills/tasks/shared-memory/support/utils/log/log.h
  chapters/compute/copy-on-write/drills/tasks/shared-memory/support/utils/sock/sock_util.c
  chapters/compute/copy-on-write/drills/tasks/shared-memory/support/utils/sock/sock_util.h
  chapters/compute/copy-on-write/drills/tasks/shared-memory/support/utils/utils.h
Labels: kind/new, needs-rendering, topic/compute, area/tasks

#121 assignments/parallel-firewall: Add parallel firewall assignment
  config.yaml
  content/assignments/parallel-firewall/README.md
  content/assignments/parallel-firewall/src/.gitignore
  content/assignments/parallel-firewall/src/Makefile
  content/assignments/parallel-firewall/src/consumer.c
  content/assignments/parallel-firewall/src/consumer.h
  content/assignments/parallel-firewall/src/firewall.c
  content/assignments/parallel-firewall/src/packet.c
  content/assignments/parallel-firewall/src/packet.h
  content/assignments/parallel-firewall/src/producer.c
  content/assignments/parallel-firewall/src/producer.h
  content/assignments/parallel-firewall/src/ring_buffer.c
  content/assignments/parallel-firewall/src/ring_buffer.h
  content/assignments/parallel-firewall/src/serial.c
  content/assignments/parallel-firewall/tests/.gitignore
  content/assignments/parallel-firewall/tests/Makefile
  content/assignments/parallel-firewall/tests/checker.py
  content/assignments/parallel-firewall/tests/gen_packets.py
  content/assignments/parallel-firewall/tests/grade.sh
  content/assignments/parallel-firewall/utils/log/CPPLINT.cfg
  content/assignments/parallel-firewall/utils/log/log.c
  content/assignments/parallel-firewall/utils/log/log.h
  content/assignments/parallel-firewall/utils/utils.h
Labels: kind/new, needs-rendering, area/assignment, area/infra

#139 config: Rearrange tasks in labs 7 and 8
  config.yaml
Labels: needs-rendering
