Repository cs-pub-ro/operating-systems, pull requests merged in 2024-10, with the labels that each got.

#83 Modify resources.md for 2024-2025 uni. year
  content/misc/resources.md
Labels: kind/new

#85 chapters/software-stack: Update the paths to all tasks to start fro `chapters/`
  chapters/software-stack/applications/drills/tasks/app-investigation/README.md
  chapters/software-stack/high-level-languages/drills/tasks/high-level-lang/README.md
  chapters/software-stack/libc/drills/tasks/common-functions/README.md
  chapters/software-stack/libc/drills/tasks/libc/README.md
  chapters/software-stack/libraries/guides/static-dynamic/README.md
  chapters/software-stack/system-calls/drills/tasks/basic-syscall/README.md
  chapters/software-stack/system-calls/drills/tasks/libcall-syscall/README.md
  chapters/software-stack/system-calls/drills/tasks/syscall-wrapper/README.md
Labels: needs-rendering

#78 Modified basic-syscall and syscall-wrappers infrastructure
  chapters/software-stack/system-calls/drills/tasks/basic-syscall/.gitignore
  chapters/software-stack/system-calls/drills/tasks/basic-syscall/Makefile
  chapters/software-stack/system-calls/drills/tasks/basic-syscall/README.md
  chapters/software-stack/system-calls/drills/tasks/basic-syscall/generate_skels.py
  chapters/software-stack/system-calls/drills/tasks/basic-syscall/solution/Makefile
  chapters/software-stack/system-calls/drills/tasks/basic-syscall/solution/src/.gitignore
  chapters/software-stack/system-calls/drills/tasks/basic-syscall/solution/src/Makefile
  chapters/software-stack/system-calls/drills/tasks/basic-syscall/solution/src/arm/.gitignore
  chapters/software-stack/system-calls/drills/tasks/basic-syscall/solution/src/arm/Makefile
  chapters/software-stack/system-calls/drills/tasks/basic-syscall/solution/src/arm/hello.s
  chapters/software-stack/system-calls/drills/tasks/basic-syscall/solution/src/hello.asm
  chapters/software-stack/system-calls/drills/tasks/basic-syscall/solution/src/hello.s
  chapters/software-stack/system-calls/drills/tasks/basic-syscall/solution/tests/checker.sh
  chapters/software-stack/system-calls/drills/tasks/basic-syscall/solution/tests/in/in.in
  chapters/software-stack/system-calls/drills/tasks/basic-syscall/solution/tests/ref/out.ref
  chapters/software-stack/system-calls/drills/tasks/basic-syscall/solution/tests/ref/out_arm.ref
  chapters/software-stack/system-calls/drills/tasks/basic-syscall/support/.gitignore
  chapters/software-stack/system-calls/drills/tasks/basic-syscall/support/hello.asm
  chapters/software-stack/system-calls/drills/tasks/basic-syscall/support/hello.s
  chapters/software-stack/system-calls/drills/tasks/syscall-wrapper/.gitignore
  chapters/software-stack/system-calls/drills/tasks/syscall-wrapper/Makefile
  chapters/software-stack/system-calls/drills/tasks/syscall-wrapper/generate_skels.py
  chapters/software-stack/system-calls/drills/tasks/syscall-wrapper/solution/Makefile
  chapters/software-stack/system-calls/drills/tasks/syscall-wrapper/solution/src/.gitignore
  chapters/software-stack/system-calls/drills/tasks/syscall-wrapper/solution/src/Makefile
  chapters/software-stack/system-calls/drills/tasks/syscall-wrapper/solution/src/main.c
  chapters/software-stack/system-calls/drills/tasks/syscall-wrapper/solution/src/syscall.asm
  chapters/software-stack/system-calls/drills/tasks/syscall-wrapper/solution/src/syscall.h
  chapters/software-stack/system-calls/drills/tasks/syscall-wrapper/solution/tests/checker.sh
  chapters/software-stack/system-calls/drills/tasks/syscall-wrapper/solution/tests/in/in.in
  chapters/software-stack/system-calls/drills/tasks/syscall-wrapper/solution/tests/ref/out.ref
  chapters/software-stack/system-calls/drills/tasks/syscall-wrapper/support/.gitignore
  chapters/software-stack/system-calls/drills/tasks/syscall-wrapper/support/main.c
  chapters/software-stack/system-calls/drills/tasks/syscall-wrapper/support/syscall.h
  chapters/software-stack/system-calls/drills/tasks/syscall-wrapper/support/syscall.s
Labels: kind/new, needs-rendering, topic/software-stack, area/tasks

#90 config: Remove `Labs` from the sidebar
  config.yaml
  misc/lab-setup.md
  misc/resources.md
  misc/rules-and-grading.md
Labels: needs-rendering

#94 config: Add content to the "Introduction" page
  config.yaml
  content/landing-page/README.md
  landing-page/README.md
Labels: kind/new, needs-rendering, area/infra

#96 Fix typo
  chapters/software-stack/libc/drills/tasks/common-functions/README.md
Labels: topic/software-stack, area/tasks

#98 chapters/software-stack: Fix `common-functions` task.
  chapters/software-stack/libc/drills/tasks/common-functions/solution/src/.gitignore
  chapters/software-stack/libc/drills/tasks/common-functions/solution/src/Makefile
  chapters/software-stack/libc/drills/tasks/common-functions/solution/src/main_printf.c
  chapters/software-stack/libc/drills/tasks/common-functions/solution/src/main_string.c
  chapters/software-stack/libc/drills/tasks/common-functions/solution/tests/test_strcat.c
  chapters/software-stack/libc/drills/tasks/libc/solution/main_printf.c
  chapters/software-stack/libc/drills/tasks/libc/support/main_printf.c
  chapters/software-stack/libc/reading/common-functions.md
Labels: kind/new, needs-rendering, topic/software-stack, area/tasks, area/reading

#99 misc/rules-and-grading.md: Fixed Software Stack chapter link
  misc/rules-and-grading.md
Labels: student-contrib

#51 content/assignments: Update score formatting for async-web-server to fix coding style issue
  content/assignments/async-web-server/tests/run_all.sh
Labels: area/assignment

#103 chapters/software-stack: Fix paths
  chapters/data/memory-security/drills/tasks/exec-shellcode/support/tests/Makefile
  chapters/data/process-memory/drills/tasks/page-mapper/support/tests/Makefile
  chapters/data/working-with-memory/drills/tasks/access-counter/support/tests/Makefile
  chapters/software-stack/libc/drills/tasks/common-functions/solution/tests/Makefile
  chapters/software-stack/libc/projects/mini-libc/tests/Makefile
Labels: topic/software-stack, topic/data, area/tasks, area/projects

#113 chapters/data: Update task paths to start from chapters/
  chapters/data/process-memory/reading/process-memory.md
Labels: topic/data, area/reading

#114 working-with-memory/drills: Modified some paths
  chapters/data/working-with-memory/drills/tasks/memory-access/README.md
  chapters/data/working-with-memory/drills/tasks/memory-corruption/README.md
  chapters/data/working-with-memory/drills/tasks/memory-protection/README.md
Labels: student-contrib

#115 data: Move tasks from lab3 to lab4
  config.yaml
Labels: needs-rendering

#116 infra/gen-view: Order sections based on config.yaml
  config.yaml
  gen-view.py
Labels: needs-rendering

#112 infra/config: Move tasks to the beginning of each lab
  config.yaml
Labels: needs-rendering, area/infra

#117 infra/`generate_skels.py`: Support Python-style comments
  chapters/data/process-memory/drills/tasks/copy/generate_skels.py
  chapters/data/working-with-memory/drills/tasks/memory-access/generate_skels.py
  chapters/data/working-with-memory/drills/tasks/memory-corruption/generate_skels.py
  chapters/data/working-with-memory/drills/tasks/memory-protection/generate_skels.py
  chapters/software-stack/applications/drills/tasks/app-investigation/generate_skels.py
  chapters/software-stack/high-level-languages/drills/tasks/high-level-lang/generate_skels.py
  chapters/software-stack/libc/drills/tasks/common-functions/generate_skels.py
  chapters/software-stack/libc/drills/tasks/libc/generate_skels.py
  chapters/software-stack/system-calls/drills/tasks/basic-syscall/generate_skels.py
  chapters/software-stack/system-calls/drills/tasks/syscall-wrapper/generate_skels.py
Labels: kind/improve, area/infra

#106 Add checker for lab 4
  chapters/data/investigate-memory/guides/memory-leak/.gitignore
  chapters/data/investigate-memory/guides/memory-leak/Makefile
  chapters/data/investigate-memory/guides/memory-leak/README.md
  chapters/data/investigate-memory/guides/memory-leak/generate_skels.py
  chapters/data/investigate-memory/guides/memory-leak/solution/src/CPPLINT.cfg
  chapters/data/investigate-memory/guides/memory-leak/solution/src/Makefile
  chapters/data/investigate-memory/guides/memory-leak/solution/src/memory_leak.cpp
  chapters/data/investigate-memory/guides/memory-leak/solution/src/memory_leak_malloc.c
  chapters/data/investigate-memory/guides/memory-leak/solution/tests/checker.sh
Labels: kind/new, topic/data, area/guides
