Repository cs-pub-ro/operating-systems, pull requests merged in 2025-01, with the labels that each got.

#153 infra/linters: Replace spellcheck with Typos
  .checkpatch.ignore
  .github/.typos.toml
  .github/workflows/actions.yml
  .gitignore
  CPPLINT.cfg
  Makefile
  chapters/compute/processes/guides/sum-array-processes/support/c/sum_array_sequential.c
  chapters/compute/scheduling/drills/tasks/libult/solution/queue.h
  chapters/compute/scheduling/drills/tasks/libult/support/queue.h
  chapters/compute/scheduling/guides/libult/solution/queue.h
  chapters/compute/scheduling/guides/libult/support/queue.h
  chapters/compute/synchronization/drills/tasks/race-condition/solution/d/race_condition_atomic.d
  chapters/compute/synchronization/drills/tasks/threadsafe-data-struct/support/clist.h
  chapters/compute/synchronization/drills/tasks/threadsafe-data-struct/support/test.c
  chapters/compute/synchronization/slides/mutual-exclusion.md
  chapters/compute/threads/drills/tasks/sum-array-bugs/solution/seg-fault/sum_array_processes.d
  chapters/compute/threads/drills/tasks/sum-array/support/c/sum_array_sequential.c
  chapters/compute/threads/guides/sum-array-threads/support/c/sum_array_sequential.c
  chapters/data/working-with-memory/drills/tasks/access-counter/README.md
  chapters/data/working-with-memory/drills/tasks/access-counter/solution/src/access_counter.c
  chapters/data/working-with-memory/drills/tasks/access-counter/support/tests/test.c
  config.yaml
  content/assignments/async-web-server/src/http-parser/README.md
  content/assignments/async-web-server/src/http-parser/http_parser.c
  content/assignments/async-web-server/src/http-parser/http_parser.h
  content/assignments/lambda-function-loader/tests/checker.sh
  content/assignments/lambda-function-loader/tests/special.c
  content/assignments/minishell/tests/_test/run_test.sh
  content/assignments/minishell/util/parser/parser.h
  content/assignments/minishell/util/parser/parser.l
  content/assignments/minishell/util/parser/parser.y
  content/assignments/parallel-firewall/src/ring_buffer.h
  content/assignments/parallel-firewall/tests/checker.py
  gen-view.py
Labels: kind/new, kind/improve, area/assignment, area/infra, topic/data, topic/compute, area/tasks, area/slides, area/guides

#148 Quizz
  .gitignore
  Dockerfile
  chapters/app-interact/os-cloud/guides/containers-vs-vms/README.md
  chapters/software-stack/libc/drills/questions/libc.md
  chapters/software-stack/overview/drills/questions/software.md
  chapters/software-stack/overview/reading/overview.md
  config.yaml
  gen-view.py
Labels: needs-rendering, kind/improve, topic/software-stack, student-contrib, area/infra, area/reading, area/guides, area/questions

#157 exam: Add exam dates to `config.yaml`
  config.yaml
Labels: needs-rendering, area/infra
